$lightC: #A3A4FF;
$mediumC: #7A7BBF;
$darkishC: #51527F;
$darkC: #292940;
$fontDisplay: 'Roboto', sans-serif;

@mixin centerEl {
  display: block;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
}

/*#body {
  font-family: $fontDisplay;
}*/

#wrapper {
  @include centerEl;
  width: 40em;
  height: 30em;
  margin-top: 3em;
}

#about {
  height: 50%;
  background-color: $lightC;
}

#time {
  height: 1.7em;
}

#date {
  height: 2em;
}

#current {
  height: 50%;
  background-color: $darkC;
  h4, h3, h2 {
    color: $lightC;
  }
}

#forecast {
  width: 100%;
  margin-left: 0em;
  li {
    list-style-type: none;
    background-color: $mediumC;
    float: left;
    height: 15em;
    margin-bottom: 4em;
  }
}

.tempDisplay {
  display: inline;
  margin: .7em;
}


/*Media Queries
==========================*/

@media screen and (max-width: 670px) {
 #wrapper {
  width: 26em;
}
	
#about h1 {
  font-size: 2em;
}
	
.tempDisplay {
  margin: .3em;
}
	
#current h3, h4 {
	font-size: 1.1em;
} 
}


@media screen and (max-width: 435px) {
 #wrapper {
  width: 20em;
}
	
#current h3, h4 {
	font-size: .9em;
}
	
.tempDisplay {
  margin: .1em;
}	
}


