link(href='https://fonts.googleapis.com/css?family=Roboto:400,700' rel='stylesheet' type='text/css')
body
  div#wrapper
    div.row#app
      div#about(class='small-7 columns')
        h3#time 
        h4#date 
        h1#location 
      
      div#currentW(class='small-5 columns')
        button#fahr &degF
        button#cel &degC 
        div#icon 
        div#weather
        div.row
          div(class='small-6 columns')
            div.tempDisplay Current temp.:<br> 
              span#currentTemp
              
          div(class='small-6 columns')      
             div.tempDisplay Max temp.:<br>
              span#maxTemp  
      
       div#futureW(class="small-12 columns")
         div.row
           div#tomorrow(class="small-4 columns")
             h3
             div.icon
             div.weatherDisplay
             div.tempDisplay2 Min temp.:<br>
               span.min1
             div.tempDisplay2 Max temp.:<br>
               span.max1
  
             
           
           div#secondDay(class="small-4 columns")
             h3
             div.icon
             div.weatherDisplay
             div.tempDisplay2 Min temp.:<br>
               span.min2
             div.tempDisplay2 Max temp.:<br>
               span.max2
           
           div#thirdDay(class="small-4 columns")
             h3
             div.icon
             div.weatherDisplay
             div.tempDisplay2 Min temp.:<br>
               span.min3
             div.tempDisplay2 Max temp.:<br>
               span.max3
           
   